<!DOCTYPE HTML>
<html>
<head>
    <title>Flask - Socket.io</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.1/socket.io.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            namespace = '/test';
            var socket = io(namespace);

            socket.on('connect', function() {
                socket.emit('my_event', {data: 'connected to the SocketServer...'});
            });

            socket.on('my_response', function(msg, cb) {
                $('#log').append('<br>' + $('<div/>').text('logs #' + msg.count + ': ' + msg.data).html());
                if (cb)
                    cb();
            });
            $('#emit').click(function(event) {
                socket.emit('my_event', {data: $('#emit_data').val()});
                return false;
            });
            $('#broadcast').click(function() {
                console.log('broadcast 2')
                socket.emit('my_broadcast_event', {data: $('#broadcast_data').val()});
                return false;
            });
            $('#disconnect').click(function(event) {
                socket.emit('disconnect_request');
                return false;
            });
        });

    </script>
</head>
<body  >
    <div class="container">
        <h1>Socket</h1>
        <input type="text" name="emit_data" id="emit_data" placeholder="Message" class="form-control">
        <input id="emit" type="submit" value="Send Message" class="btn-primary">
        <br/><br/>
        <input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message" class="form-control">
        <input id="broadcast" type="submit" value="Send Broadcast Message" class="btn-primary">
        <br/><br/>
        <input type="submit" value="Disconnect Server" class="btn-primary">
        <br/><br/>
        <h2>Logs</h2>
        <div id="log" ></div>
    </div>
    
</body>
</html>